.text-content-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.text-content-title {
    font-family: var(--font-display);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-6xl);
    line-height: 1.1;
    text-transform: uppercase;
    color: #F9F6ED;
    margin: 0;
    letter-spacing: 6.48px;
}

.text-content-subtitle {
    color: var(--color-text-secondary);
    font-family: var(--font-serif);
    font-size: var(--text-2xl);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: 120%;
    /* 38.4px */
    margin: 0;
    max-width: 800px;
}

@media (max-width: 768px) {
    .text-content-title {
        font-size: 48px;
        letter-spacing: 4px;
    }
}